.swiper-carousel {
  position: relative;
  --swiper-navigation-size: 24px;

  .custom-prev-arrow,
  .custom-next-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background: transparent;
    border-radius: 50%;
    transition: opacity 0.3s ease;

    &.swiper-button-disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &.inside {
      &.custom-prev-arrow {
        left: 20px;
      }
      &.custom-next-arrow {
        right: 20px;
      }
    }

    &.outside {
      &.custom-prev-arrow {
        left: -50px;
      }
      &.custom-next-arrow {
        right: -50px;
      }
    }
  }

  .custom-pagination {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 10;
  }

  .custom-pagination .custom-bullet {
    width: var(--bullet-size);
    height: var(--bullet-size);
    background-color: var(--inactive-color);
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
    transition: background-color 0.3s ease;
  }

  .custom-pagination .custom-bullet.active {
    background-color: var(--active-color);
  }
}
